*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#contExt{
    width: 50vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 25vh;
    background-color: red;
    border-radius: 20px;
}

#contInt{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25vw;
    height: 25vh;
    background-color: darkcyan;
    border-radius: 20px;
}

a{
    display: block;
    margin: 20px;
    background-color: blanchedalmond;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}